{% extends 'base.html' %}

{% block nav-borrow %}
    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Долги</a>
{% endblock %}

{% block content %}
<p class="h6">Книги на руках</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название книги</th>
        <th scope="col">Друг</th>
        <th scope="col">Дата</th>
        <th scope="col">Читает уже</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for borrow in object_list %}
            {% if not borrow.returned_flag %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ borrow.book.title }}</td>
                    <td>{{ borrow.friend.full_name }}</td>
                    <td>
                        <span class="badge badge-primary badge-pill">{{ borrow.borrow_date|date:'d-m-Y' }}</span>
                    </td>
                    <td>
                        <span class="badge badge-warning badge-pill">{{ borrow.borrow_date|timesince }}</span>
                    </td>
                    <td> 
                        <form action="/borrow/return/{{borrow.id}}" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Вернуть" />
                        </form>
                        <!-- <a class="btn btn-danger" href="#">Вернуть</a> -->
                    </td>
                </tr>
            {% endif %}
        {% endfor%}
    </tbody>
</table>
{% endblock %}